{% extends 'layout/layout.html' %}
{%load static%}
{%block content%}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<div style="width: 1500px; margin: 0 auto;">
    <div style="display: inline-flex; place-content: center;padding: 0px 74px;">
        <div id='show' style="width: 760px; height: 750px; border: 1px solid #333; margin-right: 30px;">
        </div>
        <input id="old" name="old" type="text" value="None">
        <!-- 챗봇 -->
        <div class="main_wrap">
            <div id="wrap" class="wrap">
                <div class="chatBox" id="chatbox" style="padding-bottom: 120px;">
                    <div class="header">
                        <div class="title-wrap">
                            <h1 class="title">SOTA 챗봇</h1>
                        </div>
                    </div>
                    <div class="chat-bot">
                    </div>
                </div>
            </div>
            <div class="chatfooter">
                <table>
                    <tr>
                        <td width="90%" style="display: table-cell;vertical-align: middle;width: auto;padding: 9px 8px 9px 13pt;position: relative;">
                            <input id="chattext" placeholder="챗봇에게 물어보세요" style="background-color: rgb(243, 244, 246);border: 0px;height: 50px;">
                        </td>
                        <td width="10%">
                            <button id="sendbtn">SEND</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // document.getElementById('footer').hide()
 
$(document).ready(function(){    
    document.getElementById('footer').style.display='none'
    $chatbox = $("#chatbox");
    bottext ="<div class=chat-bot><div class=bot-profile><div class=img style=background-image:none;margin-top:14px;><img src=https://openclipart.org/image/800px/262355 alt=챗봇></div><div class=name>챗봇</div></div><div class=bot-talk><div class=txt><div>"+"안녕하세요 어떤 업무를 도와드릴까요?"+"</div></div><div class=time><div>"+day.getHours()+"시 "+day.getMinutes()+"분"+"</div></div></div></div>";
    $chatbox.append(bottext);
});

// 채팅시간
var day = new Date();

    $(function(){

    // SEND 버튼을 누르거나
    $("#sendbtn").click(function(){
        send_message();
    });

    // ENTER key 가 눌리면
    $("#chattext").keyup(function(event){
        if(event.keyCode == 13){
            send_message();
        }
    });
});

function send_message(){
const chattext = $("#chattext").val().trim();
const show=$("#show")

// 입력한 메세지가 없으면 리턴
if(chattext == ""){
    $("#chattext").focus();
    return;
}

// 입력한 채팅 출력

addtext = "<div class=customer><div class=customer-wrap><div class=txt><div>"+chattext+"</div></div><div class=time><div>"+day.getHours()+"시 "+day.getMinutes()+"분"+"</div></div></div></div>";
$("#chatbox").append(addtext);    
var old1 = $("#old").val()

// API 서버에 보낼 데이터 준비
const jsonData = { 
    query: chattext,
    old:old1,
    bottype: "WebClient",
};
if(chattext=='처음으로'){
    $('input[name=old]').attr('value',"None")

}

$.ajax({
    url: 'http://127.0.0.1:5000/TEST',
    type: "POST",
    data: JSON.stringify(jsonData),
    dataType: "JSON",  // 응답받을 데이터 타입
    contentType: "application/json; charset=utf-8",  
    crossDomain: true,
    success: function(response){
        console.log(response)
        // response.Answer 에 챗봇의 응답메세지가 담겨 있다
        $chatbox = $("#chatbox");
        // 답변 출력
        

        bottext ="<div class=chat-bot><div class=bot-profile><div class=img style=background-image:none;><img src=https://openclipart.org/image/800px/262355 alt=챗봇></div><div class=name>챗봇</div></div><div class=bot-talk><div class=txt><div>"+response.Answer+"</div></div><div class=time><div>"+day.getHours()+"시 "+day.getMinutes()+"분"+"</div></div></div></div>";
        $chatbox.append(bottext);
        if(response.Intent=='인사'){
            
            $show=$("#show")
            $show.append(response.Intent)
            bottext = "<div style='margin:2% 0%;text-align:left;'><span style='padding:1% 2%;background-color:#ddd;border-radius:10px;color:#424242;display:inline-block'><b>" + "<br>질문 의도를 선택해주세요" + "</b></span></div>";
                $chatbox.append(bottext)
                intent_list=['계좌조회','상품조회','이체','상환및납부','분실신고']
                button_str = "<div id='buttons'>"
                let i = 0
                for(inte of intent_list){
                    button_str += `<button class='button small primary' id=${i} style='margin: 3px;' onclick=' "${chattext}"'>${inte}</button>`
                    i += 1;
                }
                button_str += "</div>"
                $chatbox.append(button_str)
                $("#0").click(function(){
                    const jsonData = {
                        query: '카드',
                        bottype: "WebClient",
                    };
                    $.ajax({
                        
                            // url: 'http://127.0.0.1:8000/service/lookup',
                            // type:"GET",
                            // cache: false,
                            // success: function(data,status){
                            //     if(status == 'success') 
                            //     data.parseXML
                            // }
                           
                                url: 'http://127.0.0.1:5000/chatbot/TEST',
                                type: "POST",
                                data: JSON.stringify(jsonData),
                                dataType: "JSON",  // 응답받을 데이터 타입
                                contentType: "application/json; charset=utf-8",  
                                crossDomain: true,
                                success: function(response){
                                    
                                    // response.Answer 에 챗봇의 응답메세지가 담겨 있다
                                    $chatbox = $("#chatbox");
                                    // 답변 출력
                        
                                    bottext ="<div class=chat-bot><div class=bot-profile><div class=img style=background: none;><img src=https://openclipart.org/image/800px/262355 alt=챗봇></div><div class=name>챗봇</div></div><div class=bot-talk><div class=txt><div>"+response.Answer+"</div></div><div class=time><div>"+day.getHours()+"시 "+day.getMinutes()+"분"+"</div></div></div></div>";
                                    $chatbox.append(bottext);
                                    
                       
                                }
                   
                 });
                })
                 $("#1").click(function(){
                    console.log('didi')
                 });
                 $("#2").click(function(){
                    console.log('didi')
                 });
                 $("#3").click(function(){
                    console.log('didi')
                 });
                // $chatbox.attr('src', 'http://127.0.0.1:5000/chatbot/TEST')
            }
            
        else if(response.Intent == '조회'){
                        a=JSON.stringify(response.NER[0][0].slice(0,2)) //a=날짜

                        
                        
                        $show=$("#show")
                        for(i of response.result[0]){
                            $show.append(i)
                        }
                            

                        //$show.append(JSON.parse(a))
                        if(response.old='조회'){
                            console.log('wefwef')
                            $('input[name=old]').attr('value',response.old)

                        }
//                         $.ajax({
                        
//                         url:'http://127.0.0.1:8000/service/lookup',
//                         type:"GET",
//                         dataType:"html",
//                         success: function(data,status){
//                           if(status == 'success')
                            
//                         //     $show.append(data)
                       
//                         //  }
//                         })   
//                         .done(function(html) {
                        
//                         $show.html(html)}
//                             //html(html.getElementById('card')
                           
//  }
// )
            }
        else if(response.Intent =='이체'){
            $show=$("#show")
            $chatbox = $("#chatbox")
            let i=1
            button_str = "<div id='buttons'>"
            for(ca of response.card){
                button_str += `<button class='button small primary' id=${i} style='margin: 3px;' value=${ca}>${ca}</button>`
                
                i+=1
            }
            button_str += "</div>"
            $chatbox.append(button_str)

            //url은 무조건 플라스크로 보내는거잔아 그럼 우리 url을 플라스크로 가게 하면 어떤가?
            $("#1").click(function(){
                    $show=$("#show")
                    $b=$(".button")
                    console.log($b.val())
                    
                   
                    const jsonData = { 
                        query:$b.val(),
                        old:'이체',
                        bottype: "WebClient",
                                    };
                        $.ajax({
                           
                            url: 'http://127.0.0.1:5000/TEST',
                            type: "POST",
                            data: JSON.stringify(jsonData),
                            dataType: "JSON",  // 응답받을 데이터 타입
                            contentType: "application/json; charset=utf-8",  
                            crossDomain: true,
                            success: function(response){
                                        console.log(response)
                                        text ="<div class=chat-bot><div class=bot-profile><div class=img style=background-image:none;><img src=https://openclipart.org/image/800px/262355 alt=챗봇></div><div class=name>챗봇</div></div><div class=bot-talk><div class=txt><div>"+response.myac+"에서"+response.Answer+"</div></div><div class=time><div>"+day.getHours()+"시 "+day.getMinutes()+"분"+"</div></div></div></div>";
                                        $show.append(text)
                                        
                            }
                            
                        
                                 



                        })

            
                    });
        }
        else if(response.Intent =='상품'){
                
                   print('💜💙💛')
            // === === === 챗봇 동작 === === ===
                answerText = response.Answer    
                
            if (response.Intent2 == '상품조회'){
                    intent_list = [ "대출상품", "적금상품", "카드상품"]
                    bottext = "<div style='margin:2% 0%;text-align:left;'><span style='padding:1% 2%;background-color:#ffcd48;border-radius:10px;color:#424242;display:inline-block'><b>" + 
                       + "<br>" + "</b></span></div>";
                    button_str = "<div id='buttons' > "
                    let i = 0
                    for(inte of intent_list){
                        button_str += `<button class='button small primary' id=${i} style='margin: 3px;' value=${inte}>${inte}</button>`
                        i += 1;
                    }
                    button_str += "<br>💜💙💛</div>"
                    $chatbox.append(button_str)
                    $("#1").click(function(){
                        $show=$("#show")
                        $b=$(".button")
                        console.log($b.val())
                        const jsonData = { 
                                step:2,
                                query:$b.val(),
                                old:'상품',
                                bottype: "WebClient",
                                    };
                        $.ajax({
                           
                            url: 'http://127.0.0.1:5000/TEST',
                            type: "POST",
                            data: JSON.stringify(jsonData),
                            dataType: "JSON",  // 응답받을 데이터 타입
                            contentType: "application/json; charset=utf-8",  
                            crossDomain: true,
                            success: function(response){
                                        console.log(response)
                                        text ="<div class=chat-bot><div class=bot-profile><div class=img style=background-image:none;><img src=https://openclipart.org/image/800px/262355 alt=챗봇></div><div class=name>챗봇</div></div><div class=bot-talk><div class=txt><div>"+response.answer+"</div></div><div class=time><div>"+day.getHours()+"시 "+day.getMinutes()+"분"+"</div></div></div></div>";
                                        $chatbox.append(text)
                                        $show.html(response.url)

                            }


                        })



                    
                 });

        }
    }
        // 스크롤 조정하기
    $("#wrap").animate({scrollTop: $("#wrap").prop('scrollHeight')});
    
    // 먼저 입력했던 내용은 지우기
    $("#chattext").val("");
    $("#chattext").focus();
    }
})
}
function parseXML(xmlDOM) {
	
	const table = [];
	table.push("<tr><th>호선</th><th>역명</th><th>승차</th><th>하차인원</th></tr>");
    //table.push("$(xmlDOM).find('list1')")
	$(xmlDOM).find("list1").each(function(){
		
        table.push(`
            <tr>
                <td>살려주세요</td>
            </tr>
        `);

	});
   a=xmlDOM.getElementById('info')
   consol.log(a)
	return table
}
 // end 
</script>
{%endblock%}