{% extends 'layout/layout.html' %}
{%load static%}{% load humanize %}
{%block content%}
<link rel="stylesheet" href="{% static 'css/send.css' %}">
<div  class="suc">
    <strong>{{user.name}}</strong> 님의 적금납부가 완료되었습니다!!!
    <div>
        <div>
            <h4>내 정보</h4>
        </div>
        <table border="1" width="100%" style="border: thick;">
            <thead>
                <tr>
                    <td>적금명</td>
                    <td>계좌번호</td>
                    <td>보낸금액</td>
                    <td>적금금액</td>
                    <td>보낸이</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{dpo.name}}</td>
                    <td>{{deposit.deposit_num}}</td>
                    <td>{{inter|intcomma}} 원</td>
                    <td>{{deposit.remain|intcomma}} 원</td>
                    <td>{{user.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{%endblock%}