{% extends 'layout/layout.html' %}
{%load static%}
{%block content%}
<link rel="stylesheet" href="{% static 'css/deposit.css' %}">
<div class="contentWrap">
    <div class="lp">
        <h2 class="l-title">적금납부</h2>
        <ul class="l-menu">
            <li class="on">조회/확인</li>
        </ul>
    </div>
    <div class="cp">
        <div class="toparea">
            <h1 class="h1_title">적금조회</h1>
        </div>
        <div class="main_content">
            <table border="1" class="board">
                <tr>
                    <td>
                        적금계좌번호
                    </td>
                    <td>
                        <select name="account" id="account" onchange="ChangeValue()" style="width :75%;border:none;font-size: 22px;outline: none;margin-top: 3px;" >
                            <option value="">선택</option>
                            {%for i in dpo%}
                            <option value="{{i.deposit_num}}">{{i.deposit_num}}</option>
                            {%endfor%}
                        </select>
                        <button name="myDeposit" style="float: right;margin-right: 10px;height: 30px;">확인</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="toparea2">
            <h1 class="h1_title">적금납부</h1>
        </div>
        <div class="main_content">
            <table border="1" class="board">
                <tr>
                    <td>
                        적금이름
                    </td>
                    <td>
                        <input class="input_style" type="text" name="name" readonly>
                    </td>
                    <td>
                        적금계좌번호
                    </td>
                    <td>
                        <input class="input_style" type="text" name="dpo_num" id="" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        신규일
                    </td>
                    <td>
                        <input class="input_style" type="text" name="date" id="" readonly>
                    </td>
                    <td>
                        만기일
                    </td>
                    <td>
                        <input class="input_style" type="text" name="limit_date" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        이율
                    </td>
                    <td>
                        <input class="input_style" type="text" name="rate" id="" readonly>
                    </td>
                    <td>
                        납입 금액
                    </td>
                    <td>
                        <input class="input_style" type="text" name="limited" id="" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        적금한 금액 
                    </td>
                    <td>
                        <input class="input_style" type="text" name="remain" id="" readonly>
                    </td>
                    <td>
                        적금 대상 
                    </td>
                    <td>
                        <input class="input_style" type="text" name="kind" id="" readonly>
                    </td>
                </tr>
            </table>
            <div style="text-align: center;margin-top: 15px;">
                <label for="next">
                    <strong style="font-size: 19px;color: blueviolet;">적금하려는 정보가 맞습니까?</strong>
                    <input type="checkbox" id="next">
                </label>
            </div>
            <div class="confirm">
                <div class="toparea">
                    <h1 class="h1_title">납입정보</h1>
                </div>
                <div class="main_content">
                    <table border="1" class="board">
                        <tr>
                            <td>
                                출금계좌번호
                            </td>
                            <td>
                                <select name="account1" id="account1" onchange="Change()" style="width :75%;border:none;font-size: 22px;outline: none;margin-top: 3px;" >
                                    <option value="none">선택</option>
                                    {%for i in card%}
                                    <option value="{{i.account}}">{{i.account}}</option>
                                    {%endfor%}
                                </select>
                                <button name="checkMoney" style="float: right;margin-right: 10px;height: 30px;">잔액확인</button>
                            </td>
                        </tr>
                        <form action="/service/sendDeposit" method="POST">
                        <tr>
                                {% csrf_token %}
                                <td>
                                    카드비밀번호
                                </td>
                                <td>
                                    <input class="input_style" type="password" name="outPw">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    이체금액
                                </td>
                                <td>
                                    <input style="float: left;" class="input_style" type="text" name="inter">원
                                    <input type="submit" value="납입" style="float: right;margin-right: 10px;height: 30px;">
                                </td>
                            </tr>
                            <input style="display: none;" id="out" name="my_num">
                            <input style="display: none;" id="out" name="d_num">
                        </form>
                    </table>
                </div>
            </div>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function(){
    $("#next").change(function(){
        if($("#next").is(":checked")){
            $(".confirm").css('display','block')
        }else{
            $(".confirm").css('display','none')
        }
    });
});
    function ChangeValue(){
        var account = document.getElementById('account');
        var value = (account.options[account.selectedIndex].value);
        $("button[name='myDeposit']").click(function(){
        $.ajax({
            type: "GET",
            url: "/service/depositCheck",
            data: {
                'account':value
            },
            dataType: 'json',
            success: function(response){
                console.log(response.account)
                $('input[name=name]').attr('value',response.name);
                $('input[name=dpo_num]').attr('value',response.dpo_num);
                $('input[name=kind]').attr('value',response.kind);
                $('input[name=date]').attr('value',response.date);
                $('input[name=remain]').attr('value',response.remain);
                $('input[name=time]').attr('value',response.time);
                $('input[name=rate]').attr('value',response.rate);
                $('input[name=limited]').attr('value',response.limited);
                $('input[name=limit_date]').attr('value',response.limit_date);
                $('input[name=d_num]').attr('value',response.account);
            }
        });
        });
    }

    function Change(){
    var account1 = document.getElementById('account1');
    var value = (account1.options[account1.selectedIndex].value);
        $("button[name='checkMoney']").click(function(){
            $.ajax({
            type: "GET",
            url: "/service/checkMoney",
            data: {
                'account':value
            },
        dataType: 'json',
            success: function(response){
                alert("남은 잔액은 " + response.result+'원 입니다.');
                $("#out").html(value);
                $('input[name=my_num]').attr('value',value);
                if(response.error){
                    alert(response.error);
                }
            }
        });
    });
    }
</script>
{%endblock%}