{% extends 'layout/layout.html' %}
{%load static%}
{%block content%}
<link rel="stylesheet" href="{% static 'css/loans.css' %}">
<div class="contentWrap">
    <div class="lp">
        <h2 class="l-title">대출상환</h2>
        <ul class="l-menu">
            <li class="on">조회/확인</li>
        </ul>
    </div>
    <div class="cp">
        <div class="toparea">
            <h1 class="h1_title">대출조회</h1>
        </div>
        <div class="main_content">
            <table>
                <tr>
                    <td>
                        대출계좌번호
                    </td>
                    <td>
                        <select name="" id="">
                            <option value="">선택</option>
                            <option value="">204202-04-360469</option>
                        </select>
                        <button>확인</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="toparea2">
            <h1 class="h1_title">대출상환</h1>
        </div>
        <div class="main_content">
            <table>
                <tr>
                    <td>
                        대출종류
                    </td>
                    <td>
                        주택담보대출
                    </td>
                    <td>
                        대출계좌번호
                    </td>
                    <td>
                        000-0000-00-0000
                    </td>
                </tr>
                <tr>
                    <td>
                        이자납입기일
                    </td>
                    <td>
                        2016-07-15
                    </td>
                    <td>
                        납입 원리금합계(원)
                    </td>
                    <td>
                        10,000,000원
                    </td>
                </tr>
                <tr>
                    <td>
                        계산시작일
                    </td>
                    <td>
                        2016-01-01
                    </td>
                    <td>
                        계산종료일
                    </td>
                    <td>
                        2016-07-15
                    </td>
                </tr>
                <tr>
                    <td>
                        약정이율(%)
                    </td>
                    <td>
                        99%
                    </td>
                    <td>
                        연체(기타)이율(%)
                    </td>
                    <td>
                        0%
                    </td>
                </tr>
            </table>
            <div class="confirm">
                <table cellpadding="10px">
                    <thead>
                        <tr>
                            <th rowspan="3">원금</th>
                            <th colspan="2">이자</th>
                            <th rowspan="2">합계</th>
                        </tr>
                        <tr>
                            <th rowspan="2">약정이자</th>
                            <th rowspan="2">연체이자</th>
                        </tr>
                    </thead>
            
                    <tbody>
                        <tr>
                            <td rowspan="2">10,000,000</td>
                            <td rowspan="2">9,900,000</td>
                            <td rowspan="2">0</td>
                            <td>9,900,000원</td>
                        </tr>
                    </tbody>
                </table>
                <button>납입</button>
            </div>
        </div>
    </div>
</div>
{%endblock%}