{% extends 'layout/layout.html' %}
{%load static%}
{%block content%}
<link rel="stylesheet" href="{% static 'css/loans.css' %}">
<div class="contentWrap">
    <div class="lp">
        <h2 class="l-title">대출상환</h2>
        <ul class="l-menu">
            <li class="on">조회/확인</li>
        </ul>
    </div>
    <div class="cp">
        <div class="toparea">
            <h1 class="h1_title">대출조회</h1>
        </div>
        <div class="main_content">
            <table class="board" border="1">
                <tr>
                    <td>
                        대출계좌번호
                    </td>
                    <td>
                        <select name="" id="account" onchange="ChangeValue()" style="width :75%;border:none;font-size: 22px;outline: none;margin-top: 3px;" > 
                            <option value="">선택</option>
                            {%for i in loans%}
                            <option value="{{i.account}}">{{i.account}}</option>
                            {%endfor%}
                        </select>
                        <button name="myLoans" style="float: right;margin-right: 10px;height: 30px;">확인</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="toparea2">
            <h1 class="h1_title">대출상환</h1>
        </div>
        <div class="main_content">
            <table class="board" border="1">
                <tr>
                    <td>
                        대출이름
                    </td>
                    <td>
                        <input class="input_style" type="text" name="name">
                    </td>
                    <td>
                        대출계좌번호
                    </td>
                    <td>
                        <input class="input_style" type="text" name="account">
                    </td>
                </tr>
                <tr>
                    <td>
                        대출상환기간
                    </td>
                    <td>
                        <input class="input_style" type="text" name="time">
                    </td>
                    <td>
                        만기일
                    </td>
                    <td>
                        <input class="input_style" type="text" name="date">
                    </td>
                </tr>
                <tr>
                    <td>
                        납입 원리금합계(원)
                    </td>
                    <td>
                        <input class="input_style" type="text" name="limited">
                    </td>
                    <td>
                        남은 금액
                    </td>
                    <td>
                        <input class="input_style" type="text" name="remain">
                    </td>
                </tr>
                <tr>
                    <td>
                        약정이율(%)
                    </td>
                    <td>
                        <input class="input_style" type="text" name="rate">
                    </td>
                    <td>
                        대출대상
                    </td>
                    <td>
                        <input class="input_style" type="text" name="kind">
                    </td>
                </tr>
            </table>
            <div class="toparea">
                <h1 class="h1_title">납입정보</h1>
            </div>
            <div class="main_content">
                <table class="board" border="1">
                    <tr>
                        <td>
                            출금계좌번호
                        </td>
                        <td>
                            <select name="account1" id="account1" onchange="Change()" style="width :75%;border:none;font-size: 22px;outline: none;margin-top: 3px;" >
                                <option value="none">선택</option>
                                {%for i in card%}
                                <option value="{{i.account}}">{{i.account}}</option>
                                {%endfor%}
                            </select>
                            <button name="checkMoney" style="float: right;margin-right: 10px;height: 30px;">잔액확인</button>
                        </td>
                    </tr>
                        <tr>
                            <form action="/service/sendLoans" method="POST">
                                {% csrf_token %}
                            <td>
                                카드비밀번호
                            </td>
                            <td>
                                <input class="input_style" type="password" name="outPw">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                이체금액
                            </td>
                            <td>
                                <input class="input_style" type="text" name="inter">원
                            </td>
                        </tr>
                </table>
                <input style="display: none;" id="out" name="my_num">
                <input style="display: none;" id="out" name="l_num">
            </div>
            <input class="btn-style" type="submit" value="확인">
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function ChangeValue(){
        var account = document.getElementById('account');
        var value = (account.options[account.selectedIndex].value);
        $("button[name='myLoans']").click(function(){
        $.ajax({
            type: "GET",
            url: "/service/checkLoans",
            data: {
                'account':value
            },
            dataType: 'json',
            success: function(response){
                console.log(response.account)
                $('input[name=name]').attr('value',response.name);
                $('input[name=account]').attr('value',response.account);
                $('input[name=rate]').attr('value',response.rate);
                $('input[name=time]').attr('value',response.time);
                $('input[name=kind]').attr('value',response.kind);
                $('input[name=date]').attr('value',response.date);
                $('input[name=remain]').attr('value',response.remain);
                $('input[name=limited]').attr('value',response.limited);
                $('input[name=inter]').attr('value',response.inter);
                $('input[name=l_num]').attr('value',response.account);
            }
        });
        });
    }

    function Change(){
    var account1 = document.getElementById('account1');
    var value = (account1.options[account1.selectedIndex].value);
        $("button[name='checkMoney']").click(function(){
            $.ajax({
            type: "GET",
            url: "/service/checkMoney",
            data: {
                'account':value
            },
        dataType: 'json',
            success: function(response){
                alert("남은 잔액은 " + response.result+'원 입니다.');
                $("#out").html(value);
                $('input[name=my_num]').attr('value',value);
                if(response.error){
                    alert(response.error);
                }
            }
        });
    });
    }
</script>
{%endblock%}