{% extends 'layout/layout.html' %}
{%load static%}
{%block content%}
<link rel="stylesheet" href="{% static 'css/loans.css' %}">
<div class="contentWrap">
    <div class="lp">
        <h2 class="l-title">이체</h2>
        <ul class="l-menu">
            <li class="on">계좌이체</li>
        </ul>
    </div>
    <div class="cp">
        <div class="toparea">
            <h1 class="h1_title">출금정보</h1>
        </div>
        <div class="main_content">
            <table>
                <tr>
                    <td>
                        출금계좌번호
                    </td>
                    <td>
                        <select name="" id="">
                            <option value="">선택</option>
                            <option value="">204202-04-360469</option>
                        </select>
                        <button>출금가능금액</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        출금계좌비밀번호
                    </td>
                    <td>
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        이체금액
                    </td>
                    <td>
                        <input type="text">원
                    </td>
                </tr>
            </table>
        </div>
        <div class="toparea2">
            <h1 class="h1_title">입금정보</h1>
        </div>
        <div class="main_content">
            <table>
                <tr>
                    <td>
                        입금계좌번호
                    </td>
                    <td>
                        <input type="text">
                        <button>내계좌</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        출금계좌비밀번호
                    </td>
                    <td>
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        이체금액
                    </td>
                    <td>
                        <input type="text">원
                        <button>송금하기</button>
                    </td>
                </tr>
            </table>
            <div class="confirm">
                <table>
                    <tr>
                        <td>입금계좌번호 : </td>
                        <td>204202-04-360469</td>
                    </tr>
                    <tr>
                        <td>받는이 : </td>
                        <td>이종임</td>
                    </tr>
                    <tr>
                        <td>보내는 금액 : </td>
                        <td>100,000</td>
                    </tr>
                </table>
                <button>확인</button>
                <button>취소</button>
            </div>
        </div>
    </div>
</div>
{%endblock%}