{% extends 'layout/layout.html' %}
{%load static%}{% load humanize %}
{%block content%}
<link rel="stylesheet" href="{%static 'css/looking.css' %}">
<section class="contents" style="margin-bottom: 25px; font-size: 20px;">
    <h2 class="tit">조회</h2>
    <strong style="margin-left: 34px;">총잔액 : </strong>
    <span>{{remain.remain|intcomma}} 원</span>
</section>
<section class="contents" style="min-height: 159px;">
    <table class="list1">
        <thead>
            <tr>
                <th scope="col">거래일시</th>
                <th scope="col">계좌번호</th>
                <th scope="col">보낸분</th>
                <th scope="col">받는분</th>
                <th scope="col">출금액(원)</th>
                <th scope="col">입출액(원)</th>
                <th scope="col">잔액(원)</th>
            </tr>
        </thead>
        <tbody>
            {%for i in trans%}
            <tr>
                {%if i.kind == 1%}
                <td class="title">입금</td>
                {%else%}
                <td class="title">출금</td>
                {%endif%}
                <td class="title">{{i.account}}</td>
                {%if i.kind == 1%}
                <td class="title">{{i.user_idx.name}}</td>
                {%else%}
                <td class="title">{{user.name}}</td>
                {%endif%}
                {%if i.kind == 0%}
                <td class="title">{{i.user_idx.name}}</td>
                {%else%}
                <td class="title">{{user.name}}</td>
                {%endif%}
                {%if i.kind == 0%}
                <td class="account">{{i.amount|intcomma}} 원</td>
                {%else%}
                <td class="account">없음</td>
                {%endif%}
                {%if i.kind == 1%}
                <td class="account">{{i.amount|intcomma}} 원</td>
                {%else%}
                <td class="account">없음</td>
                {%endif%}
                <td class="remain">{{i.remain|intcomma}} 원</td>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</section>
<script>
    
</script>
{%endblock%}