{% extends 'layout/layout.html' %}
{%load static%}
{%block content%}
<link rel="stylesheet" href="{%static 'css/lookup.css' %}">
<section class="contents" style="margin-bottom: 25px; font-size: 20px;">
    <h2 class="tit">계좌조회</h2>
    <strong style="margin-left: 34px;">총잔액 : </strong>
    <span>100,000원</span>
</section>
<section class="contents" style="min-height: 159px;">
    <table class="list">
        <thead>
            <tr>
                <th scope="col">예금명</th>
                <th scope="col">계좌번호</th>
                <th scope="col">최종거래일</th>
                <th scope="col">잔액(원)</th>
                <th scope="col">바로가기</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="title">자유입출금통장</td>
                <td class="account">204202-04-360469</td>
                <td class="last-day">2022.11.07</td>
                <td class="remain">10,000</td>
                <td class="btn">
                    <a href="">조회</a>
                    <a href="">계좌관리</a>
                </td>
            </tr>
        </tbody>
    </table>
</section>
<section class="contents" style="margin-bottom: 25px; font-size: 20px;">
    <h2 class="tit">한도대출</h2>
    <strong style="margin-left: 34px;">대출(마이너스)잔액 : </strong>
    <span>-9,000,000원</span>
</section>
<section class="contents" style="min-height: 291px;">
    <table class="list">
        <thead>
            <tr>
                <th scope="col">예금명</th>
                <th scope="col">계좌번호</th>
                <th scope="col">만기일</th>
                <th scope="col">계좌잔액(원)</th>
                <th scope="col">바로가기</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="title">자유입출금통장</td>
                <td class="account">204202-04-360469</td>
                <td class="last-day">2022.11.07</td>
                <td class="remain" style="color: red; font-family: bold;text-align: right;">
                    -9,000,000
                    <span style="font-size: 14px;display: block; color: #333;">(대출한도 : 10,000,000)</span>
                </td>
                <td class="btn">
                    <a href="">조회</a>
                    <a href="">계좌관리</a>
                </td>
            </tr>
        </tbody>
    </table>
</section>
{%endblock%}