{% extends 'layout/layout.html' %}
{%load static%}
{%block content%}
<link rel="stylesheet" href="{% static 'css/send.css' %}">
<div class="contentWrap">
    <div class="lp">
        <h2 class="l-title">이체</h2>
        <ul class="l-menu">
            <li class="on">계좌이체</li>
        </ul>
    </div>
    <div class="cp">
        <div class="toparea">
            <h1 class="h1_title">출금정보</h1>
        </div>
        <div class="main_content">
            <table>
                <tr>
                    <td>
                        출금계좌번호
                    </td>
                    <td>
                        <select name="account" id="account" onchange="ChangeValue()">
                            <option value="none">선택</option>
                            {%for i in card%}
                            <option value="{{i.account}}">{{i.account}}</option>
                            {%endfor%}
                        </select>
                        <button name="checkMoney" onclick="">출금가능금액</button>
                    </td>
                </tr>
                <form action="/service/send" method="POST">
                    {% csrf_token %}
                    <tr>
                        <td>
                            카드비밀번호
                        </td>
                        <td>
                            <input style="display: none;" id="out" name="my_num">
                            <input type="password" name="outPw">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            이체금액
                        </td>
                        <td>
                            <input type="text" name="myMoney">원
                        </td>
                    </tr>
            </table>
        </div>
        <div class="toparea2">
            <h1 class="h1_title">입금정보</h1>
        </div>
        <div class="main_content">
            <table>
                <tr>
                    <td>
                        입금계좌번호
                    </td>
                    <td>
                        <input type="text" name="num">
                        <button>송금하기</button>
                    </td>
                </tr>
            </form>
            </table>
            <div class="confirm">
                <table>
                    <tr>
                        <td>입금계좌번호 : </td>
                        <td>204202-04-360469</td>
                    </tr>
                    <tr>
                        <td>받는이 : </td>
                        <td>이종임</td>
                    </tr>
                    <tr>
                        <td>보내는 금액 : </td>
                        <td>100,000</td>
                    </tr>
                </table>
                <button>확인</button>
                <button>취소</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
function ChangeValue(){
    var account = document.getElementById('account');
    var value = (account.options[account.selectedIndex].value);
    $("button[name='checkMoney']").click(function(){
        console.log(value)
        console.log('들어옴')
        $.ajax({
        type: "GET",
        url: "/service/checkMoney",
        data: {
            'account':value
        },
        dataType: 'json',
        success: function(response){
            console.log(response.result)
            alert("남은 잔액은 " + response.result+'원 입니다.');
            $("#out").html(value).html() ;
        }
    });
        
    });
}
</script>
{%endblock%}