{% extends 'layout/layout.html' %}
{%load static%}
{%block content%}
<link rel="stylesheet" href="{% static 'css/send.css' %}">
<div class="contentWrap">
    <div class="lp">
        <h2 class="l-title">이체</h2>
        <ul class="l-menu">
            <li class="on">계좌이체</li>
        </ul>
    </div>
    <div class="cp">
        <div class="toparea">
            <h1 class="h1_title">출금정보</h1>
        </div>
        <div class="main_content">
            <table class="board" border="1">
                <tr>
                    <td>
                        출금계좌번호
                    </td>
                    <td>
                        <select name="account" id="account" onchange="ChangeValue()" style="width :75%;border:none;font-size: 22px;outline: none;margin-top: 3px;" >
                            <option value="none">선택</option>
                            {%for i in card%}
                            <option value="{{i.account}}">{{i.account}}</option>
                            {%endfor%}
                        </select>
                        <button name="checkMoney" style="float: right;margin-right: 10px;height: 30px;">잔액확인</button>
                    </td>
                </tr>
                    <tr>
                        <td>
                            카드비밀번호
                        </td>
                        <td>
                            <input type="password" name="outPw" class="input_style" placeholder="비밀번호를 입력해주세요.">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            이체금액
                        </td>
                        <td>
                            <input type="text" class="input_style" name="myMoney" placeholder="금액을 입력해주세요.">
                        </td>
                    </tr>
            </table>
        </div>
        <div class="toparea2">
            <h1 class="h1_title">입금정보</h1>
        </div>
        <div style="height:65px;">
            <table class="board" border="1">
                <tr>
                    <td>
                        입금계좌번호
                    </td>
                    <td>
                        <input type="text" name="num" class="input_style" style="width: 70%;" placeholder="이체하실 계좌번호를 입력해주세요.">
                        <button name="check" onclick="check()" style="float: right;">확인하기</button>
                    </td>
                </tr>
            </table>
            <div>{{error}}</div>
            <div class="confirm">
                <form action="/service/sendMoney" method="post" width="100%">
                    {% csrf_token %}
                    <table border="1" class="board" style="width: 403px;text-align: center;margin: 0 auto;">
                        <tr>
                            <td>입금계좌번호</td>
                            <td><input class="input_style" id="num" name="num" readonly></td>
                        </tr>
                        <tr>
                            <td>받는이 </td>
                            <td><input class="input_style" id="name" name="name" readonly></td>
                        </tr>
                        <tr>
                            <td>보내는 금액</td>
                            <td><input class="input_style" id="money" name="money" readonly></td>
                        </tr>
                    </table>
                    <div class="btn-style">
                        <input type="submit" value="이체">
                        <button>취소</button>
                    </div>
                    <input style="display: none;" id="out" name="my_num">
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
function ChangeValue(){
    var account = document.getElementById('account');
    var value = (account.options[account.selectedIndex].value);
    $("button[name='checkMoney']").click(function(){
        $.ajax({
        type: "GET",
        url: "/service/checkMoney",
        data: {
            'account':value
        },
        dataType: 'json',
        success: function(response){
            alert("남은 잔액은 " + response.result+'원 입니다.');
            $("#out").html(value);
            $('input[name=my_num]').attr('value',value);
        }
    });
});
}
function check(){
    $.ajax({
    type: "GET",
    url: "/service/check",
    data: {
        'outPw':$("input[name='outPw']").val(),
        'myMoney':$("input[name='myMoney']").val(),
        'num':$("input[name='num']").val(),
        'my_num':document.getElementById('out').innerText,
    },
        dataType: 'json',
        success: function(response){
            $('input[name=name]').attr('value',response.name);
            $('input[name=num]').attr('value',response.num);
            $('input[name=money]').attr('value',response.money);
            $("#name").html('<span>'+response.name+'</span>');
            $("#num").html('<span>'+response.num+'</span>');
            $("#money").html('<span>'+response.money+'</span>');
        }
    });
}
</script>
{%endblock%}