{% extends 'layout/layout.html' %}
{%load static%}
{%block content%}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="somelogin_box">
    <a class="main_icon">
        <img src="/static/img/logo.PNG" style="height: 51px;">
    </a>
            <div class="somelogin_pw">
                <div class="somelogin_pw_box">
                    <label class="label" for="pw" >공인인증번호</label>
                    <div class="somelogin_pw_input">
                        <input name="pw" placeholder="공인인증번호"  type="password" max-length="20" id="pw" class="" value="">
                        <p id ="pwBox"class="error-msg">{{error}}</p>
                    </div>
                </div>
            </div>
            <button type="submit" class="somelogin_button">공인인증번호</button>
        </form>
    </div>
</div>
{%endblock%}