{% extends 'layout/layout.html' %}
{%load static%}
{%block content%}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="somelogin_box">
    <div class="somelogin">
        <form action="/member/loginCheck" name="login" method="POST">
            {% csrf_token %}
            <div class="somelogin_id">
                <div class="somelogin_id_box">
                    <label class="label" for="id" >아이디</label>
                    <div class="somelogin_id_input">
                        <input name="id" placeholder="아이디" type="text" max-length="20" id="id" class="" value="">
                    </div>
                </div>
            </div>
            <div class="somelogin_pw">
                <div class="somelogin_pw_box">
                    <label class="label" for="pw" >비밀번호</label>
                    <div class="somelogin_pw_input">
                        <input name="pw" placeholder="비밀번호"  type="password" max-length="20" id="pw" class="" value="">
                    </div>
                </div>
            </div>
            <div class="somelogin_pw">
                <div class="somelogin_pw_box">
                    <label class="label" for="ppw" >공인인증번호</label>
                    <div class="somelogin_pw_input">
                        <input name="ppw" placeholder="공인인증번호"  type="password" max-length="20" id="ppw" class="" value="">
                        <p id ="pwBox"class="error-msg">{{error}}</p>
                    </div>
                </div>
            </div>
            <button type="submit" class="somelogin_button">로그인</button>
        </form>
    </div>
</div>
{%endblock%}