/* chat */
body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden;
}
.main_wrap{
    float: right;
    width: 545px;
    border: 1px solid #333;
    height: 750px;
    margin-left: 30px;
}

#wrap {
    overflow-y:scroll;
    overflow-x:hidden;
    height: 100%;
    position: relative;
}
.header {
    background-color: beige;
    padding: 10px 0 10px 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #333;
}
.title-wrap{
    height: 50px;
}
.title{
    text-align: center;
}
h1 {
    margin: 0;
}

.bot-profile{
    margin-top: 20px;
    margin-left: 65px;
}

.img {
    float: left;
    width: 58px;
    border: 1px solid #333;
    border-radius: 56px;
    height: 58px;
    margin-left: -50px;
    text-indent: -9999px;
    background: url(https://openclipart.org/image/800px/262355);
}


.img img {
    display: block;
    margin-top: 15px;
    max-width: 100%;
}

.name {
    padding-top: 11px;
    font-size: 16.5pt;
    margin-left: 21px;
}

.txt {
    clear: both;
    margin-top: 15px;
    margin-left: 20px;
    padding: 12px 13px 12px 13px;
    line-height: 1.4;
    word-break: normal;
    word-wrap: break-word;
    background: #F3F4F6;
    color: #333656;
    font-size: 16pt;
    float: left;
    max-width: 226px;
    border-radius: 8px;
}

.time {
    clear: both;
    padding-top: 3px;
    font-size: 15px;
    padding-left: 0;
    margin-left: 20px;
}

.customer-wrap .txt {
    margin-right: 10px;
    float: right;
    max-width: 75%;
    border-radius: 8px;
    font-size: 16pt;
    padding: 10px 14px 10px 14px;
    line-height: 14pt;
    letter-spacing: 0.5px;
}

.customer-wrap .time{
    padding-right: 14px;
    text-align: right;
    clear: both;
    padding-top: 3px;
    font-size: 15px;
}

#chattext {
    display: block;
    width: 100%;
    max-height: 88px;
    min-height: 28px;
    height: 28px;
    padding: 2px 2px 3px 1px;
    font-family: 'Malgun Gothic', sans-serif;
    font-size: 20px;
    color: #333;
    vertical-align: middle;
    line-height: 20px;
    border: 1px solid #fff;
    outline: 0;
    resize: none;
    word-break: normal;
}

.chatfooter {
    margin-top: -80px;
    margin-left: 5px;
    margin-bottom: 17px;
    display: inline-block;
    width: 524px;
    background-color: #FFF;
    color: #000;
    text-align: center;
}

.chatfooter table{
    width: 100%;
    height: 60pt; 
    background-color: rgb(243, 244, 246);
    position: relative;
    padding-left: 4px;
    z-index: 10;
    border-top: 1px solid #e5e6e7;
}


/* chat */
/* banner */
section.container {
    border-radius: 24px;
    position: relative;
    max-height: 399px;
    width: 1080px;
    overflow: hidden;
    margin: 0 auto;
    height: fit-content;
}
/* 
div.banner {
    width: 540vw;
    transform: translate(-90vw);
    transition: transform 0.5s;
}

div.img {
    width: 90vw;
    float: left;
}

div.img img {
    width: 100%;
    display: block;
}

div.arrow {
    position: absolute;
    font-size: 2rem;
    z-index: 1;
    width: 35px;
    height: 100%;
    text-align: center;
    cursor: pointer;
    line-height: 40vh;
    color: #00000070;
}

div.next {
    right: 0;
}

div.btns {
    position: absolute;
    bottom: 5px;
    width: 1080px;
    text-align: center;
}


.article {
    position: relative;
    width: 1080px;
    margin: 40px auto 0 !important;
}

.quick-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 1080px;
    margin: 0 auto;
    padding: 40px 0;
}

.quick-menu > a {
    display: block;
    flex: 1;
    padding-top: 58px;
    line-height: 20px;
    letter-spacing: 0;
    font-size: 15px;
    text-align: center;
}

.quick-menu__item01{
    background: url(https://img1.kbcard.com/home_re/pc/ico/48/ico-write.png) no-repeat center top;
}

.quick-menu__item02 {
    background: url(https://img1.kbcard.com/home_re/pc/ico/48/ico-eshopping.png) no-repeat center top;
}

.quick-menu__item03 {
    background: url(https://img1.kbcard.com/home_re/pc/ico/48/ico-coin-48.png) no-repeat center top;
}

.quick-menu__item04 {
    background: url(https://img1.kbcard.com/home_re/pc/ico/48/ico-checkpaper.png) no-repeat center top;
}

.quick-menu__item05 {
    background: url(https://img1.kbcard.com/home_re/pc/ico/48/ico-call-48.png) no-repeat center top;
}


.recom-card {
    width: 1080px;
    position: relative;
    height: 394px;
    margin: 0 auto;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 16%);
}

.article.full {
    width: 100%;
    padding: 0 0 40px;
    background: linear-gradient(to bottom, #f9fafc, rgba(239, 242, 247, 0.87) 100%);
}

.recom-card .card-head {
    z-index: 1;
    position: absolute;
    top: 24px;
    left: 32px;
    border: 0;
}

.recom-card__box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    height: 394px;
}

.recom-card__item {
    display: block;
    position: relative;
    width: calc(100% / 3);
    padding: 0 20px 32px;
    text-align: center;
}

.recom-card__item .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 202px;
    height: 202px;
    margin: 0 auto;
}

.recom-card__item .img-box.row img {
    transform: rotate(90deg);
}

.recom-card__item .img-box img {
    max-width: 202px;
    max-height: 202px;
} */