/* chat */
#show{
    width: 760px;
    height: 750px;
    background: #e9e2ff7a;
    border-radius: 55px;
    /* border: 1px solid #333; */
    margin-right: 30px;
    /* box-shadow: 5px 5px 5px #bd9cc5; */
    box-shadow: 7px 9px 5px #d8d1f1;
    border: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden;
}
.main_wrap{
    overflow: hidden;
    float: right;
    width: 545px;
    height: 750px;
    box-shadow: 7px 9px 5px #d8d1f1;
    border-radius: 43px;
    margin-left: 30px;
}

#wrap {
    overflow: hidden;
    background-color: #f8f6ff;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    position: relative;
    border-radius: 45px;

}
.header {
    background-color: #d5caf5;
    padding: 10px 0 10px 0;
    width: 100%;
    height: 100%;
    color: #8841d5;
}
.title-wrap{
    height: 50px;
}
.title{
    text-align: center;
}
h1 {
    margin: 0;
}

.bot-profile{
    margin-top: 20px;
    margin-left: 65px;
}

.img {
    float: left;
    width: 58px;
    border: 1px solid #333;
    border-radius: 56px;
    height: 58px;
    margin-left: -50px;
    text-indent: -9999px;
    background: url(https://openclipart.org/image/800px/262355);
}


.img img {
    display: block;
    margin-top: 15px;
    max-width: 100%;
}

.name {
    display: none;
}

.txt {
    clear: both;
    margin-left: 20px;
    padding: 12px 13px 12px 13px;
    line-height: 1.4;
    word-break: normal;
    word-wrap: break-word;
    background: #dfd5ff;
    color: #000000;
    font-size: 16pt;
    float: left;
    max-width: 350px;
    border-radius: 8px;
}

.time {
    clear: both;
    padding-top: 3px;
    font-size: 15px;
    padding-left: 0;
    margin-left: 20px;
}

.customer-wrap .txt {
    margin-right: 10px;
    float: right;
    max-width: 75%;
    border-radius: 8px;
    font-size: 16pt;
    padding: 10px 14px 10px 14px;
    line-height: 14pt;
    letter-spacing: 0.5px;
}

.customer-wrap .time{
    padding-right: 14px;
    text-align: right;
    clear: both;
    padding-top: 3px;
    font-size: 15px;
}

#chattext {
    display: block;
    width: 100%;
    max-height: 88px;
    min-height: 28px;
    height: 28px;
    padding: 2px 2px 3px 1px;
    font-family: 'Malgun Gothic', sans-serif;
    font-size: 20px;
    color: #333;
    vertical-align: middle;
    line-height: 20px;
    border: 1px solid #fff;
    outline: 0;
    resize: none;
    word-break: normal;
}

.chatfooter {
    margin-top: -80px;
    margin-left: 5px;
    margin-bottom: 17px;
    display: inline-block;
    width: 524px;
    background-color: #FFF;
    color: #000;
    text-align: center;
}

.chatfooter table{
    width: 100%;
    height: 60pt; 
    background-color: rgb(243, 244, 246);
    position: relative;
    padding-left: 4px;
    z-index: 10;
    border-top: 1px solid #e5e6e7;
}


/* chat */

.show {
    width: 760px;
    height: 750px;
    margin-right: 30px;
    border-radius: 70px;
    background-color: #d2afff;
    box-shadow: 23px 20px 7px -7px rgb(216 186 255 / 53%);
}

.chat-bot{
    display: inline-block;
}

.bot-talk {
    display: flow-root;
}