{% extends 'layout/layout.html' %}
{%load static%}
{%block content%}
<link rel="stylesheet" href="{% static 'css/product/card.css' %}">
<section class="contents">
    <h2 class="tit-dep1">체크카드</h2>
</section>
<section class="contents">
    <div class="card-box">
        {%for i in cpro%}
        {%if i.card_idx == None%}
        <div class="card-box__item">
            <!-- 앞 -->
            <div class="card-box__before">
                <a href="" class="linkDetail">
                    <h3 class="tit-dep4">{{i.name}}</h3>
                    <p class="badge--txt pl0">소타 은행의 체크카드~!</p>
                    <p class="c-blue txt-ss mt8"></p>
                    <div class="card-box__card row">
                        <img src="/static/img/sotacardimg.png" alt="">
                    </div>
                </a>
            </div>
            <!-- 뒤 -->
            <div class="card-box__after">
                <a href="" class="linkDetail">
                    <h3 class="tit-dep4">{{i.name}}</h3>
                    <p class="badge--txt pl0">소타 은행의 체크카드~!</p>
                </a>
                <p class="c-blue txt-ss mt8"></p>
                <div class="card-box__btn-wrap">
                    <span class="bold-m">연회비 없음</span>
                </div>
                <div class="btn-wrap">
                    <button class="btn btn--primary">
                        <a style="color: white;" href="/search/cardApply?idx={{i.idx}}">카드신청</a>
                    </button>
                </div>
            </div>
        </div>
        {%endif%}
        {%endfor%}
    </div>
</section>
{%endblock%}