{% extends 'layout/layout.html' %}
{%load static%}
{%block content%}
<link rel="stylesheet" href="{% static 'css/product/deposit.css' %}">
<div class="contentWrap">
    <div class="lp">
        <h2 class="l-title">적금</h2>
        <ul class="l-menu">
            <li class="on">적금 가입</li>
        </ul>
    </div>
    <div class="cp">
        <div class="toparea">
            <h1 class="h1_title">적금가입</h1>
        </div>
        <div class="main_content">
            <h2 class="tit_dep2 total_num">
                상품목록 <strong style="color: mediumblue;">{{dp.count}}</strong>건
            </h2>
            {%for i in dp%}
            <ul class="list-product1">
                <li>
                    <div class="area1">
                        <a href="#" class="title"><strong>{{i.name}}</strong></a>
                        <span class="msg">{{i.kind}}</span>
                        <div class="info-data2 t1">
                            최고 <strong style="font-size: 17px;color: mediumblue;">{{i.limited}}</strong>
                        </div>
                    </div>
                    <div class="area2"><a href="" class="btn-com c1">가입하기</a></div>
                </li>
            </ul>
            {%endfor%}
        </div>
    </div>
</div>
{%endblock%}